
{% comment %} Gather all the translations for a page at once {% endcomment %}

{% if settings.language == "en" %}

    {% assign reset_account_password_h2 = settings.reset_account_password_h2_en %}
    {% assign enter_new_password_prompt = settings.enter_new_password_prompt_en %}
    {% assign new_password_label = settings.password_label_en %}
    {% assign new_password_confirm_label = settings.password_confirm_label_en %}
    {% assign reset_password_submit = settings.reset_password_submit_en %}

{% elsif settings.language == "es" %}

    {% assign reset_account_password_h2 = settings.reset_account_password_h2_es %}
    {% assign enter_new_password_prompt = settings.enter_new_password_prompt_es %}
    {% assign new_password_label = settings.password_label_es %}
    {% assign new_password_confirm_label = settings.password_confirm_label_es %}
    {% assign reset_password_submit = settings.reset_password_submit_es %}

{% elsif settings.language == "de" %}

    {% assign reset_account_password_h2 = settings.reset_account_password_h2_de %}
    {% assign enter_new_password_prompt = settings.enter_new_password_prompt_de %}
    {% assign new_password_label = settings.password_label_de %}
    {% assign new_password_confirm_label = settings.password_confirm_label_de %}
    {% assign reset_password_submit = settings.reset_password_submit_de %}

{% endif %}


{% layout settings.customer_layout %}
<div id="customer-wrapper" class="desktop-12 mobile-3">

<div id="template">
    <div class="template_header">
      <h2 class="title">{{reset_account_password_h2}}</h2>
      <p class="note">{{enter_new_password_prompt}} {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password">{{new_password_label}}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation">{{new_password_confirm_label}}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{reset_password_submit}}" />
      </div>
    {% endform %}
</div>
</div>
