{% comment %} Gather all the translations for a page at once {% endcomment %}

{% if settings.language == "en" %}

	{% assign collection_empty = settings.collection_empty_en %}

{% elsif settings.language == "es" %}

	{% assign collection_empty = settings.collection_empty_es %}

{% elsif settings.language == "de" %}
    
	{% assign collection_empty = settings.collection_empty_de %}

{% endif %}


{% comment %}{% include 'breadcrumbs' %}{% endcomment %}

<h1 class="page-title">{{collection.title}}</h1>
{% assign pag = 48 %}
{% paginate collection.products by pag %}

<div id="content" class="c cf">
	
	<div id="accordion" class="collection-sidebar">
	<ul>
		{% for link in linklists.shop.links %}
		<!-- does this link in our iteration point to the current page? -->
		{% assign current = false %}{% if template == 'index' and link.url == '/' %}{% assign current = true %}{% elsif collection.url == link.url %}{% assign current = true %}{% elsif blog.url == link.url %}{% assign current = true %}{% elsif page.url == link.url %}{% assign current = true %}{% elsif page_title == link.title %}{% assign current = true %}{% elsif template == 'list-collections' and link.url == '/collections' %}{% assign current = true %}{% elsif page_title == 'Products' and link.url == '/collections/all' %}{% assign current = true %}{% elsif template == 'article' and link.url == article.url %}{% assign current = true %}{% endif %}
		<!-- end of soul-searching about active class -->
	    {% capture clh %}{{ link.title | handle }}{% endcapture %}
        {% assign child_active = false %}
      	{% for la in linklists[clh].links %}
	      {% if la.active %}
      		{% unless link.handle contains 'featured' %}
		      {% assign child_active = true %}
		    {% endunless %}
	      {% endif %}
	    {% endfor %}
      
			<li>
              <a id="{{link.handle}}" {% if link.active or child_active == true %} class="active"{% endif %} href="{{link.url}}"><span>{{link.title}}</span></a>
				{% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
			    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
              	{% unless link.handle contains 'featured' %}
			    <ul>
			      {% for l in linklists[child_list_handle].links %}
                  <li><a {% if l.active %} class="active"{% endif %} href="{{ l.url }}">{{ l.title }}</a></li>
			      {% endfor %}
			    </ul>
	            {% endunless %}
			    {% endif %}
			</li>
		{% endfor %}
	</ul>
      <a href="/products/design-your-own"><img src="{{'design-your-own.gif' | asset_url }}" width="156" height="158" /></a>

	</div>
	<div class="collection-list">
      {% if collection.description.size > 0 %}
      <div class="cd">
		<div class="cd-inner">
        {{ collection.description }}
        </div>
      </div>
      {% endif %}
		<ul class="grid cf">
		{% for product in collection.products %}
		{% unless product.type == "lookbook" or product.type == "Press" %}
		  {% include 'product-grid-item' with 'four-per-row' %}
	    {% endunless %}
	
		{% else %}
          <p>{{collection_empty}}</p>
		{% endfor %}
		</ul>
		
		{% if paginate.pages > 1 %}
		<div id="pagination">
		  {{ paginate | default_pagination }}
		</div>
		{% endif %}
	</div>



</div>
{% endpaginate %}